@charset "UTF-8";
        body{ 
            background-color: rgb(138, 126, 126);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }
           h1{
            color: rgb(0, 0, 0); 
            
           }
           h2{
            color: rgb(40, 9, 92);
           }
           p{
            text-align: center;
           }
   